<!DOCTYPE html>
<html>
    <script src="/angular/angular.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-route/angular-route.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/d3/d3.js"></script>
    <script src="/c3/c3.js"></script>
    <script src="/d3-cloud/build/d3.layout.cloud.js"></script>

    <script src="/chart.js/dist/Chart.min.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/wordcloud.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script type="text/javascript" src="/javascripts/twitter.js"></script>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>twitter</title>

        <link rel="icon" href="../../favicon.ico">

        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    </head>

    <body ng-app="getTweets" ng-controller="twitterController">
        <header class="hero" id="home">
            <div class="container text-center">

                <a class="hero-brand" href="index.html" title="Home"><img src="images/twitter-64.png"></a>
                <div class="col-md-12">
                    <h1 class="col-md-12">Enter Your Username:</h1>
                </div>

                <input type="text" id="username" ng-model="username" name="username"
                       class="form-control" placeholder="User name" required autofocus>

                <p class="tagline">
                    Enter your twitter username, and get all your tweets
                </p>
                <md-button class="btn" ng-click="click($event)">
                    Get all tweets
                </md-button>

            </div>
        </header>

        <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="">
                <nav id="spy">
                    <ul class="sidebar-nav nav">
                        <li class="sidebar-brand active"> <a href="#home" class=""><span class="fa fa-home solo">Home</span></a>

                        </li>
                        <li class=""> <a href="#Overview" data-scroll="" class="">
                                <span class="fa fa-anchor solo">Overview</span>
                            </a>

                        </li>
                        <li class=""> <a href="#Analysis" data-scroll="" class="">
                                <span class="fa fa-anchor solo">Analysis</span>
                            </a>

                        </li>
                        <li class=""> <a href="#Visualization" data-scroll="" class="">
                                <span class="fa fa-anchor solo">Visualization</span>
                            </a>

                        </li>
                        <li class=""> <a href="#Contact" data-scroll="" class="">
                                <span class="fa fa-anchor solo">Contact</span>
                            </a>

                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Page content -->
            <div id="page-content-wrapper" class="">
                <div class="page-content inset">
                    <div class="row">
                        <div class="col-md-12 ">
                            <legend id="Overview" style="color: #ffffff;">These are all your tweets!</legend>
                            <div ng-repeat="tweet in tweets">
                                <p class="" ng-bind="tweet"></p>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <legend id="Analysis" style="color: #ffffff;">Representative tweets</legend>
                            <div id="lexrank" ng-show="data !== null && data.length !== 0">
                                <h4>Lexrank Result</h4>
                                <canvas width="800" height="400"  class="chart chart-bar"
                                        chart-data="data" chart-labels="labels"
                                        chart-series="series" chart-click="onClick"></canvas>
                                <div ng-repeat="rep in reps">
                                    <p>No.{{rep.index + 1}} {{tweets[rep.index]}}</p>
                                </div>
                            </div>
                            <div id="clustering" ng-show="data !== null && data.length !== 0">
                                <h4>Clustering result</h4>
                                <div ng-repeat="center in clusters.center">
                                    <p>No.{{center}} {{tweets[center]}}</p>
                                </div>
                            </div>
                            <div id="cluster1" ng-show="data !== null && data.length !== 0">
                                <h4>One of your clusters</h4>
                                <div ng-repeat="cluster in clusters.clusters[0]">
                                    <p>No.{{cluster}} {{tweets[cluster]}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <legend id="Visualization" style="color: #ffffff;">Keyword cloud</legend>
                            <div id="wordsCloud">
                                <div id="cloud" ng-show="words !== null"></div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <legend id="Contact" style="color: #ffffff;">Contact</legend>
                            <p class="">Contact at sduxuhao@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <!-- Footer -->
    <footer style="background: #545454;">
        <div class="container text-center" >
            <p style="color: #ffffff;">Copyright &copy; Hao Xu 2016</p>
        </div>
    </footer>
</html>
